
.arrow {
  position: absolute;
  top: 30px;
  left: 79px;
}
body {
  margin: 0;
  padding: 0;
}
h2,p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color:#7C7C7A;
  margin-left: 33px;
  font-weight: 600;
}
a:hover {
  border-bottom: 1px solid #7C7C7A;
  transition: all .3s ease;
}
#root:hover {
width: 250px;
overflow: visible;
}
#root:hover a {
  margin-left: 16px; ;
}
#root:hover .arrow {
  left: 240px;
  transform: rotate(180deg);
}
#root:hover .log-email{
  padding-left:8px;
}
#root {
  min-height: 100vh;
  background-color: #ffffff;
  width: 90px;
   font-family: 'Open Sans', sans-serif;
   color: #C0BFBD;
   overflow: hidden;
   border-right: 1px solid #7C7C7A;
   
}
.header {
  display: flex;
  padding-top: 20px;
  padding-left: 24px;
  
}
.user-avatar > img {

}
.user-login {
  color: #222133;
  font-size: 16px;
  font-weight: 700 ;
}
.log-email {
padding-top: 5px;
padding-left: 22px;

}
::placeholder {
font-weight: 600;
font-size: 16px;

}
input {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 55px;
  border-radius: 8px;
  color: #7C7C7A;
  /* width: 85%; */
  width: 50%;
  margin-left: 16px;
  background-color: #F5F5F5;
  outline: none;
  border: .1px solid black;
}
#root:hover input {
  width: 85%;
}
.search-box {
  margin-top: 56px;
  position: relative;
}
.search-box > img {
  position: absolute;
  top: 13px;
  left: 32px;
}


.menu-item-box {
  margin-left: 32px;
  margin-top: 29px;
  display: flex;
  align-items: center;
}
div:nth-child(9) {
margin-top: 20vh;
}

div:nth-child(10) {
  margin-left: 20px;
}
div:nth-child(10) > img {
  
display: none;
  
}
div:nth-child(10) > a {
  display: none;
}
#root:hover div:nth-child(10) > a {
  display: block;
}
#root:hover div:nth-child(10) > a {
  margin-right: 30px;
}
#root:hover div:nth-child(10) > img {
  
display: block;
  margin-left: 15px;
}

 .dark {
  position:absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
 }
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin-left: -4px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F5F5F5;
  border-radius: 34px;
  transition: 0.6s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.4s;
}
input:checked + .slider {
  background-color:#424444;
}
input:checked + .slider:before {
  transform: translateX(24px);
  background-color: black;
}
.lght {
  position: absolute;
      right: -16px;
    top: -4px;
}












